API_PROJECT_FOLDER=/var/www/api
FRONTEND_PROJECT_FOLDER=/var/www/frontend

DOCKER_PREFIX=booking-app-

# APP DB
DB_HOST=booking_app_db
DB_DATABASE=booking_app
DB_USER=booking_app
DB_PASSWORD=secret
DB_ROOT_PASSWORD=secret
DB_CHARSET=utf8mb4

# Public Services Ports
API_PORT=9501
FRONTEND_PORT=8080
DB_PORT=3306
